* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4e4e4e;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "aside content content sidebar"
    "footer footer footer footer";
}

.header {
  background-color: purple;
  grid-area: header;
  height: 10vh;
  padding: 20px;
}

.aside {
  background-color: cornflowerblue;
  grid-area: aside;
  padding: 20px;
}

.aside-item {
  align-items: center;
  display: flex;
  margin-top: 14px;
  width: 100%;
}

.content {
  background-color: lightpink;
  display: grid;
  grid-area: content;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 20px;
}

.sidebar {
  background-color: turquoise;
  grid-area: sidebar;
  padding: 20px;
}

.footer {
  background-color: slateblue;
  grid-area: footer;
  height: 15vh;
  padding: 20px;
}

.card {
  background-color: snow;
  border-radius: 10px;
  box-shadow: 1px 1px 9px 1px rgb(211, 133, 145);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
}

h3 {
  color: midnightblue;
  font-size: 20px;
  font-weight: 500;
}

img {
  flex: 1;
  margin-top: 10px;
  width: 100%;
}

p {
  color: midnightblue;
  flex: 1;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 10px;
  width: 100%;
}

span {
  color: snow;
  font-size: 13px;
  font-weight: 500;
}

.emoji {
  font-size: 30px;
  text-align: end;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightseagreen;
  }

  .container {
    grid-template-areas:
      "header"
      "aside"
      "content"
      "sidebar"
      "footer";
  }

  .content {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  body {
    background-color: lightskyblue;
  }

  .container {
    grid-template-areas:
      "header header"
      "aside content"
      "aside content"
      "sidebar sidebar"
      "footer footer";
  }

  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1.1em;
  }
  
  .sidebar {
    display: none;
  }

  /*  .hide {
    display: none;
  } */
}
