* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4e4e4e;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    'h h h h'
    'a c c s'
    'a c c s'
    'a c c s'
    'f f f f';
}

.header {
  background-color: purple;
  grid-area: h;
  height: 10vh;
  padding: 20px;
}

.aside {
  background-color: teal;
  grid-area: a;
  padding: 20px;
}

.content {
  background-color: violet;
  display: grid;
  grid-area: c;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 20px;
}

.sidebar {
  background-color: turquoise;
  grid-area: s;
  padding: 20px;
}

.footer {
  background-color: slateblue;
  grid-area: f;
  height: 15vh;
  padding: 20px;
}

.post {
  background-color: seashell;
  border-radius: 10px;
  box-shadow: 1px 1px 9px 1px rgb(197, 52, 197);
  color: darkslategray;
  display: flex;
  flex-flow: wrap;
  max-width: 600px;
  padding: 18px;
}

h3 {
  width: 100%;
}

img {
  flex: 1;
}

.text {
  flex: 1;
  font-size: 16px;
}

img, .text {
  margin: 1rem;
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      'h'
      'a'
      'c'
      's'
      'f';
  }

  .content {
    grid-template-columns: 1fr;

  }

  .post {
    justify-content: space-between;
  }

  img, .text {
    margin: .7rem;
  }
}

/* @media (min-width: 601px) and (max-width: 992px) {
  .container {
    grid-template-areas:
      'h h'
      'a c'
      'a c'
      's s'
      'f f';
  }

    img, .text {
      margin: .9rem;
    }
  } */
