body {
  background-color:lightgoldenrodyellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
  background-color: snow;
  border: 2px dashed purple;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  flex-flow: column wrap;
}

.item {
  /* background-color: #82B4FF; */
  background-color: snow;
  /* border: 1px solid magenta; */
  box-shadow: 1px 2px 8px darkmagenta;
  font-size: x-large;
  padding: 10px;
  flex: 1;
}

.container {
  background-color: snow;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  body {
    background-color: lightskyblue;
  }

  .container {
    grid-template-columns: 1fr 1fr
  }
}

@media only screen and (max-width: 600px ) {
  body {
    background-color: pink;
  }

  .container {
    grid-template-columns: 1fr
  }
}
